/*---------------------*/
/* Animation 
/*---------------------*/ 

.in-view .services_list li:nth-child(1), .in-view .accolades-list li:nth-child(1){
    transition-delay:1s;
}
.in-view .services_list li:nth-child(2), .in-view .accolades-list li:nth-child(2){
    transition-delay:1.5s;
}
.in-view .services_list li:nth-child(3), .in-view .accolades-list li:nth-child(3){
    transition-delay:2s;
}
.in-view .services_list li:nth-child(4), .in-view .accolades-list li:nth-child(4){
    transition-delay:2.5s;
}
.in-view .services_list li:nth-child(5), .in-view .accolades-list li:nth-child(5){
    transition-delay:3s;
}
.in-view .services_list li:nth-child(6), .in-view .accolades-list li:nth-child(6){
    transition-delay:3.5s;
}
.in-view .services_list li:nth-child(7), .in-view .accolades-list li:nth-child(7) {
    transition-delay:4s;
}
.in-view .services_list li:nth-child(8), .in-view .accolades-list li:nth-child(8) {
    transition-delay:4.5s;
}
.in-view .services_list li:nth-child(9), .in-view .accolades-list li:nth-child(9){
    transition-delay:5s;
}
.in-view .services_list li:nth-child(10), .in-view .accolades-list li:nth-child(10){
    transition-delay:5.5s;
}
.in-view .accolades-list span{transition-delay:1s;}
.in-view .accolades-list span, .in-view .services_list li, .in-view .accolades-list li{
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.5s ease 0s, transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s, -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
 
.accolades-list span, .services_list li, .accolades-list li{
    opacity: 0;
    transform: translateY(50px);
}



	

.linkButton, .careerCenterBtn{opacity: 0;transform: translateY(-50px); -moz-transform: translateY(-50px); -webkit-transform: translateY(-50px); -ms-transform: translateY(-50px);}
.in-view .linkButton, .in-view .careerCenterBtn{transition:all 1s;opacity:1; transform: translateY(0px);-moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transition-delay:1.5s; -moz- transition-delay:1.5s; -webkit- transition-delay:1.5s;}
.in-view .careerCenterBtn{ transition-delay:2.5s;}
.heroWrap .heroVideo, .heroWrap .heroVideo.fade{transition: all 2s ease 0s; -moz-transition: all 2s ease 0s; -webkit-transition: all 2s ease 0s; -ms-transition: all 2s ease 0s;opacity:0;}
.in-view .heroWrap .heroVideo.animation{transition: all 2s ease 0s; -moz-transition: all 2s ease 0s; -webkit-transition: all 2s ease 0s; -ms-transition: all 2s ease 0s; opacity:1;}


.heroWrap .HeroImage, .heroWrap .HeroImage.fade{transition: all 2s ease 0s; opacity:0;}
.in-view .heroWrap .HeroImage.animation{transition: all 2s ease 0s; opacity:1; }
.page-our-work .heroWrap .main-bg.fade { opacity: 1; }


.description h4, .description div.lead{visibility: hidden; opacity: 0; transition: all 800ms ease 0s;transform: translateY(-50px);}
.in-view .description h4, .in-view .description div.lead{ visibility: inherit; opacity: 1;transition: all 800ms ease 0s; -moz-ransition: all 800ms ease 0s; -ms-ransition: all 800ms ease 0s; -webkit-ransition: all 800ms ease 0s;transform: translateY(0px);-moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px);}
.in-view .description div.lead{transition-delay:1s; -moz-transition-delay:1s; -webkit-transition-delay:1s;}
.pageTitle{transition: all 2s ease 0s; -moz-transition: all 2s ease 0s; -webkit-transition: all 2s ease 0s; -ms-transition: all 2s ease 0s;overflow:hidden;width:0px; opacity:0;}
.in-view .pageTitle {transition: all 2s ease 0s; -moz-transition: all 2s ease 0s; -webkit-transition: all 2s ease 0s; -ms-transition: all 2s ease 0s;white-space: nowrap;padding:0 30px; width:100%;opacity:1;}
