@media screen and (min-width: 1900px) {
    .container {
        width: 1600px;
    }
    .footer-part3 {
        text-align: right;
        float: right;
    }
    .description h4 {
	    font-size: 34px;
	    line-height: inherit;
	}
    .description div.lead {
        font-size: 18px;
    }
    .title-type1 {
        font-size: 60px;
        padding: 0 10px;
    }
    .our-work-logo ul {
        max-width: 80%;
    }
    .tab-content {
    	height: 500px;
	}
}
@media screen and (max-width: 1899px) {
    .our-work-logo > ul li:nth-child(6) {
        clear: both;
    }
    .head-right {
        right: 30px;
        top: 24px;
        width: 23%;
        font-size: 12px;
    }
    .toggle {
        padding: 8px 6px 3px;
    }
    .toggle > div > div {
        height: 4px;
    }
    .videoButtons {
		margin-right: 52px;
		min-width: 112px;
    }
    .videoButtons .onBtn::after {
        top: 2px;
    }
    .logo a {
        display: inline-block;
        width: 206px;
    }
    .logo a img {
        width: 100%;
    }
    .logo {
        margin-top: 80px;
    }
    .pageTitle-leftSide {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-78%) translateY(-15%);
        -webkit-transform: translateX(-78%) translateY(-15%);
        transform: translateX(-78%) translateY(-15%);
    }
    .footer-part2 summary {
        line-height: 17px;
    }
    .footer-part2 .privacy,
    .footer-part2 .companydetails {
        display: inline-block;
    }
    .link-type li {
        padding: 0px;
    }
    .link-type li.seprater {
        padding: 0 3px;
    }
    #footer .footer-part1 {
        width: 35%;
    }
    #footer .footer-part3 {
        float: right;
        width: 26%;
    }
    .footer-part2 {
        float: left;
        width: 30%;
    }
    .menu a {
        font-size: 24px;
    }
    .menu .navigation li .icon {
        background: rgba(0, 0, 0, 0) url("../images/menu-icon-M.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 24px;
        margin-right: 10px;
        width: 24px;
    }
    .menu .navigation li .icon.home-icon {
        background-position: 0 0
    }
    .menu ul.sections li:hover .home-icon,
    .menu ul.sections li.active .home-icon {
        background-position: -30px 0
    }
    .menu .navigation li .icon.service {
        background-position: 0 -27px
    }
    .menu ul.sections li:hover .service,
    .menu ul.sections li.active .service {
        background-position: -30px -27px
    }
    .menu .navigation li .icon.about-icon {
        background-position: 0 -54px
    }
    .menu ul.sections li:hover .about-icon,
    .menu ul.sections li.active .about-icon {
        background-position: -30px -54px
    }
    .menu .navigation li .icon.work-icon {
        background-position: 0 -81px
    }
    .menu ul.sections li:hover .work-icon,
    .menu ul.sections li.active .work-icon {
        background-position: -30px -81px
    }
    .menu .navigation li .icon.media-icon {
        background-position: 0 -108px
    }
    .menu ul.sections li:hover .media-icon,
    .menu ul.sections li.active .media-icon {
        background-position: -30px -108px
    }
    .menu .navigation li .icon.careers-icon {
        background-position: 0 -135px
    }
    .menu ul.sections li:hover .careers-icon,
    .menu ul.sections li.active .careers-icon {
        background-position: -30px -135px
    }
    .menu .navigation li .icon.contact-icon {
        background-position: 0 -163px
    }
    .menu ul.sections li:hover .contact-icon,
    .menu ul.sections li.active .contact-icon {
        background-position: -30px -163px
    }
    .menu .navigation li .icon.login-icon {
        background-position: 0 -190px
    }
    .menu ul.sections li:hover .login-icon,
    .menu ul.sections li.active .login-icon {
        background-position: -30px -190px
    }
    .toggle.open > div > div:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        width: 100%;
    }
    .toggle.open > div > div:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    .popup-logo {
        bottom: 50px;
        right: 50px;
    }
    .popup-logo > img {
        width: 140px;
    }
    #login .description-rightSide {
        width: 43%;
    }
    .services_list {
        width: 81%;
    }
    .services_list li {
        font-size: 12px;
    }
    address h5 {
        font-size: 26px;
    }
    address .email a,
    address .phone a,
    address .address {
        font-size: 19px;
        line-height: 22px;
    }
    address .address {
        margin-bottom: 20px;
    }
    address {
        margin-bottom: 50px;
    }
    .contact-form button {
        font-size: 25px;
        height: 40px;
        line-height: 40px;
        width: 266px;
    }
    .newsContent .lead {
        font-size: 14px;
    }
    .accolades-list {
    	font-size: 12px;
	}
	.title-type1 {
        font-size: 40px;
    }
    
    .description h4 {
        line-height: inherit;
        font-size: 24px;
    }
    .pageTitle {
        height: 100px;
        line-height: 100px;
    }
    .linkButton {
	    font-size: 24px;
	    height: 38px;
	    line-height: 37px;
    }
    .careerCenterBtn{
            height: 38px;
        line-height: 37px;
    }
    .careerCenterBtn > img {
        margin-bottom: 0;
        padding-top: 2px;
        width: 92px;
    }
   .tab-content {
    	 height: 410px;
    	display: table;
	}
	#pressTab .linkButton, #newsTab .linkButton, #mediaTab .linkButton{
		font-size: 16px;
	}
	.news-row {
    	margin-bottom: 15px;
	}
	.search-results .pageTitle {
	    height: inherit;
	    line-height: inherit;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.pageTitle-type2 span {
	    margin-top: 0;
	    padding: 0;
	    font-size: 26px;
	}
	.title-type1 {
    	font-size: 35px;
	}

}
@media screen and (min-width: 1441px) and (max-width: 1699px) {
    #footer .footer-part1 {
        width: 37%;
    }
    #footer .footer-part3 {
        width: 27%;
    }
    .contact-form h4 {
        font-size: 24px;
    }
    .accolades-list ul {
        width: 62%;
    }
    .group-row .linkButton {
        margin-bottom: 0px;
    }
    .contact-form .required {
        margin: 0px;
        font-size: 14px;
    }
    .contact-form {
        padding: 20px 40px;
    }
    .contact {
        width: 49%;
    }
    .our-work-logo li {
        width: 62px;
    }
    .our-work-logo li img {
        transform: translateY(-60%);
        max-width: 100%;
    }
    .our-work-logo > ul {
        margin-top: 50px;
    }
    .news-row {
        margin-bottom: 15px;
    }
    .media-news-icon {
        background-size: cover;
        height: 25px;
        background-position: 0 0px;
        margin-right: 5px;
    }
    .nav-tabs {
        right: 12.6%;
        top: 14%;
    }
    
    .title-type1 {
        font-size: 30px;
    }
    .pageTitle-leftSide {
        -moz-transform: translateX(-88%) translateY(-30%);
        -webkit-transform: translateX(-88%) translateY(-30%);
        transform: translateX(-88%) translateY(-30%);
    }
    body .logo {
	    -moz-transform: translateX(-137%) translateY(-15%);
	    -webkit-transform: translateX(-137%) translateY(-15%);
	    transform: translateX(-137%) translateY(-15%);
	}
    .description h4 {
        line-height: inherit;
        font-size: 24px;
    }
    .pageTitle {
        height: 100px;
        line-height: 100px;
    }
    .search-results .pageTitle{
    	height: inherit;
    	line-height: inherit;
    	padding-top: 20px;
	    padding-bottom: 20px;
    }
    .pageTitle-type2 span{
		margin-top: 0;
		padding: 0;
		font-size: 26px;
    }
    .nav-tabs > li > a {
	    font-size: 12px;
	    margin-right: 5px;
	    padding: 6px 10px;
	}
	.accolades-list {
    	font-size: 12px;
	}
	.hero-image {
	    display: inline-block;
	    max-width: initial;
	    width: initial;
	    height: 100%;
	}
	.Scroll-content .video-icon, .Scroll-content .gallery-icon {
	    width: 22px;
	    height: 29px;
	    margin-top: 13px;
	    background-size: contain;
	}
	.tab-content {
    	 height: 410px;
    	display: table;
	}
	#pressTab .linkButton, #newsTab .linkButton, #mediaTab .linkButton{
		font-size: 16px;
	}

}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .pageTitle-leftSide {
        -moz-transform: translateX(-88%) translateY(-30%);
        -webkit-transform: translateX(-88%) translateY(-30%);
        transform: translateX(-88%) translateY(-30%);
    }
    .description h4 {
        line-height: inherit;
        font-size: 24px;
    }
    .pageTitle {
        height: 90px;
        line-height: 90px;
    }
    .title-type1 {
        font-size: 35px;
    }
    .in-view .pageTitle {
        max-width: 75%;
    }
    body.page-career .description-rightSide,
    .description-rightSide {
        width: 42%;
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    body .logo {
        -moz-transform: translateX(-137%) translateY(-15%);
        -webkit-transform: translateX(-137%) translateY(-15%);
        transform: translateX(-137%) translateY(-15%);
    }
    .nav-tabs {
        right: 8.4%;
        top: 14%;
    }
    .accolades-list {
        font-size: 12px;
    }
    .linkButton {
        font-size: 24px;
        height: 38px;
        line-height: 36px;
    }
    .our-work-logo > ul li:nth-child(6) {
        clear: inherit;
    }
    .smoll-linkButton {
        font-size: 12px !important;
        height: 27px!important;
        line-height: 27px!important;
        padding: 0 10px !important;
    }
    .our-work-logo {
        width: 90%;
    }
    .contact,
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 46%;
        left: 50px;
        top: 50px;
        padding: 30px 39px;
    }
    .title-type3 h4,
    .our-work-title h4 {
        width: 73%;
        font-size: 24px;
        padding-top: 0;
    }
    .contact-form {
        padding: 0;
    }
    .in-view .description div.lead,
    .media-center .tabContent .lead {
        font-size: 14px;
        font-weight: 600;
    }
    .news-date {
        display: block;
        width: 100%;
        clear: both;
    }
    #pressTab .linkButton,
    #newsTab .linkButton,
    #mediaTab .linkButton {
        font-size: 14px;
    }
    .news-row {
        margin-bottom: 15px;
    }
    .contact-form input[type="text"],
    .contact-form textarea {
        height: 38px;
    	font-size: 16px;
    }
    .contact-form textarea {
    	height: 90px;
	}
    .our-work-logo img {
        width: 80%;
    }
    .lead {
        font-size: 14px;
    }
    #footer .footer-part3 {
    	width: 27%;
	}
	#footer .footer-part1 {
    	width: 37%;
	}
	.Scroll-content .video-icon, .Scroll-content .gallery-icon {
	    width: 22px;
	    height: 29px;
	    margin-top: 7px;
	    background-size: contain;
	}
	.search-results .pageTitle{
    	height: inherit;
    	line-height: inherit;
    	padding-top: 20px;
	    padding-bottom: 20px;
    }
    .pageTitle-type2 span{
		margin-top: 0;
		padding: 0;
		font-size: 26px;
    }
    .nav-tabs > li > a {
	    font-size: 12px;
	    margin-right: 5px;
	    padding: 6px 10px;
	}
	.contact-form h4 {
	    font-size: 22px;
	    color: #fff;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
	.hero-image {
	    display: inline-block;
	    max-width: initial;
	    width: initial;
	    height: 100%;
	}
	.search-results .linkButton{
		font-size: 18px;
	}
	.menu .navigation ul.sections li a{
		    padding: 5px 45px 5px 40px;
	}
	.menu a {
    	font-size: 21px;
	}
	.form-search ::-webkit-input-placeholder {
        font-size: 22px;
    }
    .form-search ::-moz-placeholder {
        font-size: 22px;
    }
    /* firefox 19+ */
    
    .form-search :-ms-input-placeholder {
        font-size: 22px;
    }
    /* ie */
    
    .form-search input:-moz-placeholder {
        font-size: 22px;
    }
    .form-search input{
    	font-size: 22px;
    }
    .tab-content {
    	 height: 390px;
    	display: table;
	}
	.contact-media-name, .contact-media-no a, .contact-media-email a{
		    font-size: 24px;
	}
	.cancel-btn{
		background-size: contain;
		width: 35px;
		right: -46px;
	}
	.news-Leftbar .title-type3 h4{
		width: 100%;
	}

}
@media screen and (min-width: 1153px) and (max-width: 1280px) {
    .pageTitle-leftSide {
        -moz-transform: translateX(-88%) translateY(-30%);
        -webkit-transform: translateX(-88%) translateY(-30%);
        transform: translateX(-88%) translateY(-30%);
    }
    .description h4 {
        line-height: inherit;
        font-size: 24px;
    }
    .pageTitle {
        height: 100px;
        line-height: 100px;
    }
    .title-type1 {
        font-size: 35px;
    }
    .in-view .pageTitle {
        max-width: 75%;
    }
    body.page-career .description-rightSide,
    .description-rightSide {
        width: 42%;
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    body .logo {
        -moz-transform: translateX(-137%) translateY(-15%);
        -webkit-transform: translateX(-137%) translateY(-15%);
        transform: translateX(-137%) translateY(-15%);
    }
    .nav-tabs {
        right: 6%;
        top: 14%;
    }
    .accolades-list {
        font-size: 11px;
        margin-top: 10px;
    }
    .linkButton {
	    font-size: 24px;
	    height: 38px;
	    line-height: 37px;
	}
    .our-work-logo > ul li:nth-child(6) {
        clear: inherit;
    }
    .smoll-linkButton {
        font-size: 12px !important;
        height: 27px!important;
        line-height: 27px!important;
        padding: 0 10px !important;
    }
    .our-work-logo {
        width: 90%;
    }
    .contact,
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 46%;
        left: 50px;
        top: 50px;
        padding: 30px 39px;
    }
    .title-type3 h4,
    .our-work-title h4 {
        width: 73%;
        font-size: 24px;
        padding-top: 0;
    }
    .contact-form {
        padding: 0;
    }
    .in-view .description div.lead,
    .media-center .tabContent .lead {
        font-size: 14px;
        font-weight: 600;
    }
    .news-date {
        display: block;
        width: 100%;
        clear: both;
    }
    #pressTab .linkButton,
    #newsTab .linkButton,
    #mediaTab .linkButton {
        font-size: 16px;
    }
    .news-row {
        margin-bottom: 15px;
    }
    .contact-form input[type="text"],
    .contact-form textarea {
        height: 39px;
        font-size: 18px;
    }
    .contact-form .required {
        font-size: 12px;
        margin-top: 0;
    }
    .page-our-work .group-row .linkButton {
        margin-bottom: 0;
    }
    .contact-form textarea {
        height: 130px;
    }
    .our-work-logo img {
        width: 80%;
    }
    .lead {
        font-size: 14px;
    }
    .cancel-btn {
        background-size: 40px;
    }
    #footer .footer-part1 {
       width: 42%;
    }
    #footer .footer-part3 {
        width: 31%;
    }
    .footer-part2 {
        display: none;
    }
    .footer-part2-responsive {
	    display: block;
	    clear: both;
	    position: absolute;
	    left: 0;
	    bottom: -7px;
	}
    .footer-part2-responsive .companydetails {
        display: none;
    }
    footer#footer{
    	    height: 65px;
    }
    .Scroll-content .video-icon, .Scroll-content .gallery-icon {
	    width: 22px;
	    height: 29px;
	    margin-top: 13px;
	    background-size: contain;
	}
	.search-results .pageTitle{
    	height: inherit;
    	line-height: inherit;
    	padding-top: 20px;
	    padding-bottom: 20px;
    }
    .pageTitle-type2 span{
		margin-top: 0;
		padding: 0;
		font-size: 26px;
    }
    .nav-tabs > li > a {
	    font-size: 12px;
	    margin-right: 5px;
	    padding: 6px 10px;
	}
	.hero-image {
	    display: inline-block;
	    max-width: initial;
	    width: initial;
	    height: 100%;
	}
	.search-results .linkButton{
		font-size: 18px;
	}
	.accolades-list ul{
	 	margin-left: 56px;
    	margin-top: 10px;
    	width: 82%;
    }

}
@media screen and (min-width: 1024px) and (max-width: 1152px) {
    .toggle {
        top: 43px;
        position: fixed;
        right: 50px;
    }
    .form-search input {
        width: 87.8%;
    }
    .pageTitle-leftSide {
        -moz-transform: translateX(-91%) translateY(-43%);
        -webkit-transform: translateX(-91%) translateY(-43%);
        transform: translateX(-91%) translateY(-43%);
    }
    .page-media-center .pageTitle-leftSide {
        -moz-transform: translateX(-88%) translateY(-43%);
        -webkit-transform: translateX(-88%) translateY(-43%);
        transform: translateX(-88%) translateY(-43%);
    }
    .tabContent .our-work-title h4 {
        width: 100%;
    }
    .media-news-icon {
        background-size: 51px;
        width: 25px;
        margin-bottom: -12px;
    }
    .description h4 {
        line-height: inherit;
        font-size: 26px;
    }
    .pageTitle {
    	height: 80px;
    	line-height: 80px;
	}
    .title-type1 {
        font-size: 32px;
    }
    .in-view .pageTitle {
        max-width: 75%;
    }
    body.page-career .description-rightSide,
    .description-rightSide {
        width: 42%;
        -moz-transform: translateX(0%) translateY(-50%);
        -webkit-transform: translateX(0%) translateY(-50%);
        transform: translateX(0%) translateY(-50%);
    }
    body .logo {
        -moz-transform: translateX(-142%) translateY(-15%);
        -webkit-transform: translateX(-142%) translateY(-15%);
        transform: translateX(-142%) translateY(-15%);
    }
    .nav-tabs {
        right: 6%;
        top: 14%;
    }
    .accolades-list {
        font-size: 11px;
        margin-top: 10px;
        margin-left: 29px;
    }
    .linkButton {
        font-size: 24px;
        height: 38px;
        line-height: 36px;
    }
    .accolades-list ul {
        width: 87%;
        margin-left: 15px;
    }
    .accolades-list span {
        float: none;
        margin-right: 0;
        margin-left: 0;
        display: block;
        margin-bottom: 10px;
    }
    .our-work-logo > ul li:nth-child(6) {
        clear: inherit;
    }
    .smoll-linkButton {
        font-size: 12px !important;
        height: 27px!important;
        line-height: 27px!important;
        padding: 0 10px !important;
    }
    .our-work-logo {
        width: 90%;
    }
    .contact,
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 46%;
        left: 50px;
        top: 50px;
        padding: 30px 39px;
    }
    .title-type3 h4,
    .our-work-title h4 {
        width: 70%;
        font-size: 24px;
        padding-top: 0;
    }
    .in-view .careerCenterBtn {
        font-size: 7px;
        height: 38px;
    }
    .careerCenterBtn > img {
        margin-bottom: 0;
        padding-top: 2px;
    }
    .contact-form {
        padding: 0;
    }
    .in-view .description div.lead,
    .media-center .tabContent .lead {
        font-size: 14px;
        font-weight: 600;
    }
    .news-date {
        display: block;
        width: 100%;
        clear: both;
    }
    #pressTab .linkButton,
    #newsTab .linkButton,
    #mediaTab .linkButton {
        font-size: 16px;
    }
    .news-row {
        margin-bottom: 8px;
    }
    .contact-form input[type="text"],
    .contact-form textarea {
        height: 39px;
        font-size: 18px;
    }
    .contact-form .required {
        font-size: 12px;
        margin-top: 0;
    }
    .page-our-work .group-row .linkButton {
        margin-bottom: 0;
    }
    .contact-form textarea {
        height: 130px;
    }
    .lead {
        font-size: 14px;
    }
    .cancel-btn {
        background-size: 40px;
    }
    #footer .footer-part1 {
        width: 52%;
    }
    #footer .footer-part3 {
        width: 36%;
    }
    .footer-part2 {
        display: none;
    }
    .footer-part2-responsive {
	    display: block;
	    clear: both;
	    position: absolute;
	    left: 0;
	    bottom: -7px;
	}
    .footer-part2-responsive .companydetails {
        display: none;
    }
    footer#footer{
    	    height: 65px;
    }
    .Scroll-content .gallery-icon,
    .Scroll-content .video-icon {
        background-size: 22px;
        width: 25px;
    }
    .nav-tabs > li > a {
        font-size: 12px;
        margin-right: 3px;
        padding: 6px 10px;
    }
    .search-results .pageTitle{
    	height: inherit;
    	line-height: inherit;
    	padding-top: 20px;
	    padding-bottom: 20px;
    }
    .pageTitle-type2 span{
		margin-top: 0;
		padding: 0;
		font-size: 26px;
    }
    .contact-form h4 {
	    font-size: 22px;
	    color: #fff;
	    font-weight: 900;
	    margin-bottom: 20px;
	}
	.search-results .linkButton{
		font-size: 16px;
	}
	.hero-image {
	    display: block;
	    max-width: inherit;
	    width: initial;
	    height: inherit;
	    position: fixed;
	    left: 0;
	    top: 0;
	}
}
@media screen and (max-width: 1024px) {
    .toggle {
        border-radius: 0px !important;
    }
    .Scroll-content {
        padding-right: 0px;
    }
    .head-right {
        width: 27%;
    }
    .wrapper {
        margin: 16px;
    }
    .spacher-bottom,
    .spacher-top {
        height: 16px;
    }
    .spacher-right,
    .spacher-left {
        width: 16px;
    }
    #footer .footer-part1 {
        width: 50%;
        float: left;
    }
    .footer-part2 {
        display: none;
    }
    .companydetails{
    	display: none;
    }
    footer#footer {
        border-left: 26px solid #ffffff;
        border-right: 26px solid #ffffff;
        bottom: 0;
        height: 75px;
    }
    #footer .footer-part3 {
        float: right;
        width: 38%;
    }
    .email-text {
        margin-top: -2px;
    }
    .bgOverlay {
        border: 16px solid #ffffff;
    }
    .menu .container .navigationBG {
        bottom: 95px;
        left: 40px;
        right: 40px;
        top: 40px;
    }
    .footer-part2-responsive {
        display: block;
        position: absolute;
        bottom: 7px;
    }
    .logo {
        margin: 40px 0px 0px;
    }
    .nav-tabs {
        right: 8.9%;
        top: 14%;
    }
    .search-results .linkButton {
        font-size: 16px;
    }
    .contact {
        width: 47% !important;
        width: 49%;
        left: 37px;
        top: 40px;
    }
    .contact-form button {
        width: 100%;
    }
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 47%;
        left: 33px;
        top: 40px;
        padding: 20px 20px 20px 30px;
    }
    .our-work-title img {
        width: 70px;
        margin-right: 40px;
    }
    .locations img {
        width: 30px;
    }
    .our-work-title h4 {
        font-size: 22px;
        padding-top: 29px;
    }
    .our-work-logo li {
        min-height: 60px;
        margin: 0 6px;
    }
    .our-work-logo > ul {
        margin-top: 40px;
    }
    .our-work-logo {
        margin-left: 0;
        margin-top: 15px;
    }
    .title-type3 h4 {
        font-size: 16px;
        padding-top: 10px;
    }
    .news-Leftbar {
        float: left;
        width: 100%;
        margin-top: 50px;
    }
    .social-icon {
        position: absolute;
        background: #000;
        width: 87%;
    }
    .social-icon li {
        float: left;
        margin-right: 5px;
    }
    .hero-image {
        display: inline-block;
        max-width: initial;
        width: initial;
        height: 100%;
    }
    .page-404 .linkButton .anchor-icon {
        background-size: cover;
        height: 25px;
        background-position: 0 0px;
    }
    .page-404 .linkButton:hover .anchor-icon {
        background-size: cover;
        height: 25px;
        background-position: -27px 0px;
    }
    .search-results .pageTitle-type2 span {
        font-size: 24px;
        margin-top: 0px;
        padding: 0;
    }
    .search-results .title-type1 {
        font-size: 33px;
    }
    .search-results .pageTitle {
        line-height: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .toggle {
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        overflow: hidden;
        transform: scale(0.8);
        top: 43px;
        position: fixed;
        right: 50px;
    }
    #footer .footer-part1 {
        width: 64%;
    }
    #footer .footer-part3 {
        width: 26%;
    }
    .footer-part2-responsive .companydetails {
        display: none;
    }
    .footer-part2-responsive {
        display: block;
        clear: both;
        position: absolute;
        left: 0;
        bottom: 7px;
    }
    .menu .container .navigation {
        transition: inherit;
        transform: inherit;
        position: absolute;
        left: 0;
        top: 80px;
        margin: 0 auto;
        right: 0;
        width: 305px;
    }
    .form-search input {
        width: 80.9%;
    }
    .email-text {
        background: url(../images/email-icon.png);
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        text-indent: -999999em;
        overflow: hidden;
        display: inline-block;
        margin-top: 13px;
    }
    .main-container {
        margin-top: 50px;
        padding-bottom: 150px;
    }
    .description-rightSide {
        padding: 20px 40px;
        clear: both;
    }
    .pageTitle {
        max-width: 92%;
        margin-left: -15px;
        margin-top: 110px;
        height: 110px;
        line-height: 110px;
        margin-bottom: 30px;
    }
    .accolades-list span,
    .accolades-list ul li,
    .description .lead p {
        font-size: 14px;
    }
    .accolades-list span {
        margin: 18px;
        float: none;
    }
    body.page-login .description-rightSide {
        width: 100%;
    }
    body.page-career .description-rightSide {
        left: inherit;
        position: inherit;
        top: inherit;
        transform: inherit;
        width: 100%;
    }
    .linkButton {
        font-size: 28px;
        height: 44px;
        line-height: 44px;
    }
    html,
    body {
        overflow: inherit;
        border-bottom: 0px;
    }
    .nav-tabs {
        right: inherit;
        top: inherit;
        position: inherit;
        clear: both;
        padding: 0;
        margin: 10px 0;
    }
    .accolades-list {
        padding: 0px;
        margin: 10px 0 25px;
    }
    .accolades-list:after {
        clear: both;
        display: block;
        content: '';
    }
    .contact {
        bottom: 85px;
        width: 92% !important;
        left: 32px;
        top: 32px;
        z-index: 9;
    }
    .contact-form button {
        font-size: 30px;
        height: 50px;
        line-height: 50px;
        width: 100%;
    }
    .cancel-btn {
        width: 54px;
        right: 0;
        height: 40px;
        background-position: center;
            z-index: 2;

    }
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 91%;
        left: 36px;
        top: 40px;
        z-index: 9;
    }
    .our-work-logo li {
        width: 145px;
        margin: 0 17px;
        text-align: center;
    }
    .accolades-list ul {
        margin-left: 37px;
        margin-top: 10px;
        float: none;
    }
    .page-404 .linkButton .anchor-icon {
        background-size: cover;
        height: 25px;
        background-position: 0 0px;
    }
    .page-404 .linkButton:hover .anchor-icon {
        background-size: cover;
        height: 25px;
        background-position: -27px 0px;
    }
    .form-search input {
        line-height: 35px;
        height: 40px;
    }
    .form-search input {
        font-size: 25px;
    }
    .form-search::-webkit-input-placeholder {
        font-size: 25px;
    }
    .form-search::-moz-placeholder {
        font-size: 25px;
    }
    /* firefox 19+ */
    
    .form-search:-ms-input-placeholder {
        font-size: 25px;
    }
    /* ie */
    
    .form-search input:-moz-placeholder {
        font-size: 25px;
    }
    .search-button {
        top: 12px;
    }
    .logo a {
        display: inline-block;
        width: 180px;
    }
    .title-type1 {
        font-size: 40px;
    }
    body .logo {
        transform: inherit;
        left: 20px;
    }
    .description h4 {
        font-size: 24px;
    }
    .description div.lead {
        font-size: 13px;
    }
    .Scroll-content .gallery-icon,
    .Scroll-content .video-icon {
        background-size: 22px;
        width: 25px;
    }
    .smoll-linkButton {
        font-size: 12px !important;
        height: 27px!important;
        line-height: 27px!important;
    }
    .hero-image {
        position: fixed;
            top: 0;
    }
    .page-media-center .pageTitle {
        height: inherit;
        line-height: inherit;
        padding: 15px 30px;
    }
    .nav > li > a:hover, 
    .nav > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #009ddc;
        background-color: #000000;
    }
    .nav-tabs > li > a {
        margin-right: 4px;
    }
    .responsive-tab,
    .accolades-list,
    .our-work-logo,
    .services_list {
        display: none !important;
    }
    .responsive-content {
        display: block !important;
    }
    .our-work-logo p {
        margin-left: 0px;
    }
    .tab-content{
        height: inherit;
	}
    .contact-form input[type="text"], .contact-form textarea {
        height: 38px;
        line-height: 22px;
        padding: 5px 8px;
        font-size: 13px;
    }


}
@media screen and (max-width: 1023px) {
    .pageTitle-leftSide {
        position: inherit;
        top: inherit;
        left: inherit;
        -moz-transform: inherit;
        -webkit-transform: inherit;
        transform: inherit;
        width: 100%;
        float: none;
    }
    .description-rightSide {
        float: none;
        left: inherit;
        position: inherit;
        top: inherit;
        transform: inherit;
        width: 100%;
        padding: 0 30px;
    }
    .container {
    	width: 100%;
	}
	.pageTitle {
	    margin-left: -15px;
	    margin-top: 110px;
	    margin-bottom: 30px;
	}
}
@media screen and (max-width: 767px) {
    .menu a {
        font-size: 15px;
    }
    .form-search input {
        font-size: 12px;
    }
     .head-right {
        right: 6.5%;
        top: 5.5%;
        position: fixed;
        z-index: 9;
    }
    .head-right {
        width: 67%;
    }
    .description h4 {
        font-size: 19px;
        line-height: 25px;
    }
    .title-type1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    html,
    body {
        overflow: inherit;
        height: inherit;
    }
    .main-container {
        padding-bottom: 150px;
    }
    .pageTitle {
		height: 70px;
		line-height: 70px;
		margin: 0;
    }
    .pageTitle {
        padding: 0 15px;
    }
    .bgOverlay {
        border: 0 solid #ffffff;
    }
    .popup-logo {
       bottom: 21px;
    right: 20px;
    }
    .popup-logo > img {
        width: 80px;
    }
    .form-search input {
        line-height: 36px;
    }
    .menu .navigation ul.sections li a {
        padding: 2px 25px 2px 13px;
        line-height: 20px;
        height: 27px;
    }
    .menu .navigation li .icon {
        background: rgba(0, 0, 0, 0) url("../images/menu-icon-M2.png") no-repeat scroll 0 0;
        display: inline-block;
        height: 19px;
        margin-right: 10px;
        width: 18px;
    }

    .menu .navigation li .icon.home-icon {
        background-position: 0 0
    }
    .menu ul.sections li:hover .home-icon,
    .menu ul.sections li.active .home-icon {
        background-position: -22px 0
    }
    .menu .navigation li .icon.service {
        background-position: 0 -19px
    }
    .menu ul.sections li:hover .service,
    .menu ul.sections li.active .service {
        background-position: -22px -19px
    }
    .menu .navigation li .icon.about-icon {
        background-position: 0 -39px
    }
    .menu ul.sections li:hover .about-icon,
    .menu ul.sections li.active .about-icon {
        background-position: -22px -39px
    }
    .menu .navigation li .icon.work-icon {
        background-position: 0 -59px
    }
    .menu ul.sections li:hover .work-icon,
    .menu ul.sections li.active .work-icon {
        background-position: -22px -59px
    }
    .menu .navigation li .icon.media-icon {
        background-position: 0 -79px
    }
    .menu ul.sections li:hover .media-icon,
    .menu ul.sections li.active .media-icon {
        background-position: -22px -79px
    }
    .menu .navigation li .icon.careers-icon {
        background-position: 0 -99px
    }
    .menu ul.sections li:hover .careers-icon,
    .menu ul.sections li.active .careers-icon {
        background-position: -22px -99px
    }
    .menu .navigation li .icon.contact-icon {
        background-position: 0 -120px
    }
    .menu ul.sections li:hover .contact-icon,
    .menu ul.sections li.active .contact-icon {
        background-position: -22px -120px
    }
    .menu .navigation li .icon.login-icon {
        background-position: 0 -139px
    }
    .menu ul.sections li:hover .login-icon,
    .menu ul.sections li.active .login-icon {
        background-position: -22px -139px
    }


    .menu .container .navigation .icon {
        webkit-transform: translateY(20%) translateX(0%);
        -ms-transform: translateY(20%) translateX(0%);
        transform: translateY(20%) translateX(0%);
    }
    .search-button {
        background-size: contain;
        width: 18px;
    }
    .toggle {
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        overflow: hidden;
        transform: scale(0.65);
    }
     .nav-tabs > li a {
    	display: inline-block;
	}
    .form-search input {
		width: 75.9%;
	}
    #footer .footer-part1 {
        display: none;
    }
    #footer .footer-part3 {
        float: none;
        width: 100%;
        text-align: center;
        line-height: initial;
    }
    .footer-part2-responsive {
        display: block;
           line-height: 17px;
        position: initial;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-part2-responsive .companydetails {
        display: none;
    }
    footer#footer {
        border: 0px;
    }
    .linkButton {
        font-size: 18px;
        height: 33px;
        line-height: 33px;
        padding: 0 12px;
    }
    .our-work-logo {
        margin-left: 0;
        margin-top: 20px;
    }
    ::-webkit-input-placeholder {
        font-size: 11px !important;
    }
    ::-moz-placeholder {
        font-size: 11px!important;
    }
    :-ms-input-placeholder {
        font-size: 11px!important;
    }
    input:-moz-placeholder {
        font-size: 11px!important;
    }
    .videoButtons {
        margin-right: 10px;
        margin-top: 0;
    }
    .services_list {
        width: 100%;
        padding: 0;
    }
    .our-work-logo li {
        margin: 0 9px;
    }
    .our-work-logo li img {
        max-width: 100%;
    }
    .logo {
        margin-top: 20px;
    }
    .logo a {
        display: inline-block;
        width: 160px;
    }
    .pageTitle-leftSide {
        margin-top: 20px;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .videoButtons {
        font-size: 9px;
    }
    .accolades-list {
        font-size: 11px;
        margin-bottom: 15px;
    }
    .accolades-list:after {
        clear: both;
        display: block;
        content: '';
    }
    body.page-login .description-rightSide {
        width: 100%;
        margin-top: 20px;
    }
    .contact {
	    bottom: 90px;
	    width: 89% !important;
	    left: 30px;
	    position: absolute;
	    top: 30px;
	    z-index: 9;
            height: 130%;
	}
    .contact-form {
        padding: 35px 15px 15px 15px;
    }
    .cancel-btn {
        width: 34px;
        height: 32px;
        right: 5px;
        top: 5px;
        z-index: 9;
        background-size: contain;
    }
    .contact-form h4 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .contact-form input[type="text"],
    .contact-form textarea {
        height: 33px;
        line-height: 22px;
        padding: 5px 8px;
        font-size: 11px;
    }
    .contact-form textarea {
        height: 90px !important;
    }
    .contact-form button {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        width: 100%;
    }
    .contact-form .required {
        margin-top: 0px;
        display: block;
        font-size: 12px;
    }
    .page-contacts .linkButton {
        float: none;
        margin-bottom: 0px;
        font-size: 16px !important;
    }
    body.page-career .description-rightSide {
        position: inherit;
        top: inherit;
        left: inherit;
        width: inherit;
        transform: inherit;
    }
    .nav-tabs {
        right: inherit;
        top: inherit;
        position: inherit;
        clear: both;
    }
    .newsContent {
        bottom: 20px;
        width: 84%;
        left: 30px;
        position: absolute;
        top: 30px;
        z-index: 9;
        padding: 0px 15px 15px 15px;
    }
    .title-type3 h4 {
        font-size: 16px;
        padding-top: 15px;
    }
    #pressTab .linkButton,
    #newsTab .linkButton,
    #mediaTab .linkButton {
        font-size: 13px;
    }
    .news-date {
        font-size: 9px;
    }
    .news-row {
        margin-bottom: 15px;
    }
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 86%;
        left: 36px;
        top: 40px;
        z-index: 9;
    }
    .hero-image {
	    display: block;
	    max-width: inherit;
	    width: initial;
	    height: inherit;
	    position: fixed;
	    left: 0;
	    top: 0;
	}
    #footer .footer-part3 img {
        display: none;
    }
    .email-text {
        background: url(../images/email-icon.png);
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        text-indent: -999999em;
        overflow: hidden;
        display: inline-block;
		margin-top: 4px;
		margin-right: 0;
		background-size: contain;
    }
    .our-work-title h4 {
        font-size: 14px;
        padding-top: 0;
    }
    .media-center .tabContent .lead {
        font-size: 11px;
    }
    .our-work-title {
        padding-bottom: 11px;
        margin-bottom: 15px;
    }
    .media-news-icon {
        background-size: 36px;
        height: 18px;
        margin-right: 0px;
    }
    .contact-media-name,
    .contact-media-no a,
    .contact-media-email a {
        font-size: 19px;
    }
    .contact-media-name {
        margin: 15px 0;
    }
    #mCSB_1_container .our-work-title img {
        width: 20px;
    }
    .Scroll-content .video-icon,
    .Scroll-content .gallery-icon {
        width: 22px;
        height: 29px;
        margin-top: 7px;
        background-size: contain;
    }
    body .logo {
        position: inherit;
        top: inherit;
        left: inherit;
        -moz-transform: inherit;
        -webkit-transform: inherit;
        transform: inherit;
    }
    .page-media-center .pageTitle {
        height: inherit;
        line-height: inherit;
        padding: 15px 30px;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        color: #009ddc;
        background-color: #000000;
    }
    .nav-tabs > li > a {
        margin-right: 4px;
        padding: 6px 10px;
    }
    .responsive-tab,
    .accolades-list,
    .our-work-logo,
    .services_list {
        display: none !important;
    }
    .responsive-content {
        display: block !important;
    }
    .our-work-logo p {
        margin-left: 0px;
    }
    .search-results .title-type1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 12px;
    }
    #footer .socicon-bar {
        line-height: 25px;
    }
    .videoButtons{
        display: none;
    }
    .heroVideo {
        display: none;
    }
    .heroWrap .HeroImage, 
    .heroWrap .HeroImage.fade {
        transition: all 2s ease 0s;
        opacity: 1;
    }
	.page-our-work .heroWrap .HeroImage, 
    .page-our-work .heroWrap .HeroImage.fade {
        transition: all 2s ease 0s;
        opacity: 0;
    }
    .description div.lead {
    	font-size: 13px;
	}
	.our-work-logo > ul li:nth-child(6) {
    	clear: inherit;
	}
	.accolades-list span{
		margin: 0px;
	}
	.accolades-list ul {
    	margin-left: 15px;
   		 margin-top: 15px;
	}
	.nav-tabs > li {
    	float: none;
    	margin-bottom: 6px;
	}
	.social-icon{
		margin-top: 13px;
	}
	.tab-content {
    	height: inherit;
	}
	.our-work-title img {
		display: none;
	}
	.locations-logo {
	    display: block;
	    float: left;
	    width: 91px !important;
	    margin-right: 15px;
	    margin-bottom: 35px;
	}
	.locatoin-in{
		float: left;
	}
    .Scroll-content .actions {
        font-size: 12px;
    }
    .careerCenterBtn{
    	    margin-top: 15px;
            margin-left: 0px;
    }
    .viewOpportunities .careerCenterBtn{
        float: none;
        width: 130px;
        display: block;
        margin: 0px;
        clear: both;
        margin-top: 10px;
    }
    .linkButton {
        margin-bottom: 5px;
    }

}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    html,
    body {
        overflow: inherit;
        height: 100%;
    }
    footer#footer {
        position: fixed;
    }
    .form-search input {
        width: 80.9%;
    }
   
}
@media only screen and (min-width: 480px) and (max-width: 639px) {} @media screen and (max-width: 479px) {
    .menu .container .navigation {
        transition: inherit;
        transform: inherit;
        position: absolute;
        left: 0;
        top: 60px;
        margin: 0 auto;
        right: 0;
        width: 183px;
    }
    .menu .container .navigationBG {
        left: 31px;
        right: 31px;
        top: 31px;
    }
    .form-search input {
        width: 67%;
        margin-left: 15%;
        font-size: 12px;
    }
    .accolades-list ul {
        margin-left: 20px;
    }
   
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
    .nav-tabs > li {
        float: none;
        margin-bottom: 6px;
    }
    .nav-tabs > li a {
        display: inline-block;
    }
    .cancel-btn {
        z-index: 99;
        background-size: 100%;
    }
    .newsContent .lead {
        font-size: 11px;
    }
    .title-type3 h4 {
        font-size: 14px;
    }
    .Scroll-content {
        padding-right: 0px;
        padding-top: 10px;
    }
    .social-icon li a {
        background-size: contain;
        height: 34px;
    }
    .social-icon li {
        margin: 0px;
    }
    .footer-part2-responsive {
        bottom: 11px;
        
    }
    .social-icon li a.linkedin-icon {
        background-position: 0 -71px;
        background-size: 70%;
    }
    .social-icon li a.facebook-icon {
        background-position: 0px 0;
        background-size: 70%;
    }
    .social-icon li a.twitter-icon {
        background-position: 0 -34px;
        background-size: 70%;
    }
    .social-icon {
        padding-top: 10px;
        top: 0;
    }
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        width: 84%;
        left: 28px;
        top: 30px;
        z-index: 9;
        padding-bottom: 90px;
    }
    .head-right {
        right: 6.5%;
        top: 5.5%;
        position: fixed;
        z-index: 9;
	}
    .search-button {
        left: 15px;
        top: 16px;
        width: 8px;
        background-size: contain;
        height: 20px;
    }
    .form-search input {
        line-height: 31px;
        border-radius: 0px;
    }
    .form-search input {
        width: 73%;
        margin-left: 13%;
        font-size: 12px;
    }
    .footer-part3:after {
        clear: both;
        display: block;
        content: '';
    }
    .description div.lead {
        font-size: 13px;
    }
    .accolades-list span {
        float: none;
        margin: 0 0 15px;
        display: block;
    }
    .our-work-logo > ul {
        margin-top: 20px;
        margin-left: 0px;
    }
    .smoll-linkButton {
        font-size: 12px !important;
        height: 27px!important;
        line-height: 27px!important;
    }
    .our-work-title img {
        margin-right: 0px;
    }
    .vs-section1 h2,
    .vs-section h2 {
        font-size: 23px;
    }
    .vs-section1 span,
    .vs-section span {
        padding: 4px 25px;
        height: 40px;
        line-height: 34px;
    }
    .video-title h2 {
        font-size: 22px;
    }
    .videoButtons .buttons > span {
		background-size: contain;
		margin: 0 auto;
		text-align: center;
		width: 80px;
		height: 80px;
    }
    .videoButtons {
        margin-right: 20px;
        margin-top: 4px;
    }
    .spacher-bottom{
        display: none;
    }
    .contact {
        width: 85% !important;
        height: inherit;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    footer#footer {
        height: 86px;
    }
    .contact {
        width: 81% !important;
        height: inherit;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
   
    .menu a {
        font-size: 14px;
        padding: 0px 25px 0px 13px !important;
    }
    .menu ul.sections {
        text-align: left;
           max-height: 170px;
        overflow: auto;
            margin-bottom: 30px;
    }
    .menu .container .navigationBG {
        bottom: 0;
        left: 31px;
        right: 31px;
        top: 31px;
           height: 70%;
    }
    .nav-tabs > li {
        margin-bottom: 6px;
    }
    .nav-tabs > li a {
        display: inline-block;
    }
    .cancel-btn {
        z-index: 9;
        background-size: 100%;
        margin-right: 7px;
    }
    .newsContent .lead {
        font-size: 11px;
    }
    .title-type3 h4 {
        font-size: 14px;
    }
    .Scroll-content {
        padding-right: 0;
        padding-top: 10px;
    }
    .social-icon li a {
        background-size: contain;
        height: 34px;
    }
    .social-icon li {
        margin: 0px;
    }
    .social-icon li a.linkedin-icon {
        background-position: 0 -71px;
        background-size: 70%;
    }
    .social-icon li a.facebook-icon {
        background-position: 0px 0;
        background-size: 70%;
    }
    .social-icon li a.twitter-icon {
        background-position: 0 -34px;
        background-size: 70%;
    }
    .social-icon {
        padding-top: 10px;
        top: 0;
    }
    .title-type3 h4 {
        font-size: 14px;
    }
    .news-date {
        font-size: 9px;
    }
    .newsContent .lead {
        font-size: 11px;
    }
    .newsContent,
    .tab-content1,
    .tab-content2,
    .tab-content3 {
        left: 28px;
        top: 30px;
        z-index: 9;
    }
    .title-type3 h4 {
        float: none;
    }
    .footer-part2-responsive {
        padding-bottom: 12px;
    }
    footer#footer {
        height: 70px;
    }
    html,
    body {
        height: inherit;
    }
    .description div.lead {
        font-size: 12px;
    }
    .accolades-list ul {
        float: none;
        display: block;
    }
    .accolades-list span {
        float: none;
        margin: 10px 0px;
        display: block;
    }
    .accolades-list ul {
        margin-left: 15px;
    }
    .our-work-logo > ul {
        margin-left: 25px;
    }
    .smoll-linkButton {
        font-size: 12px;
        height: 27px;
        line-height: 27px;
    }
    .search-results .title-type1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 12px;
    }
	.head-right {
	   right: 4.8%;
    top: 8.5%;
	    position: fixed;
	    z-index: 9;
	}
    .menu .container .navigation{
            margin: 0 auto;
    width: 180px;
    top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    transform: inherit;
    }
}