@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/../fonts/OpenSans-Extrabold.eot');
    src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {} ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix {
    *zoom: 1;
}
a:hover,
a:focus {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
html,
body {
    height: 100%;
    overflow: hidden;
}
div.spacer {
    height: 1px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    border: 0px !important;
    font-family: "open sans";
    font-weight: 600;
    font-size: 100%;
}
.wrapper {
    margin: 26px;
}
.spacher-top {
    height: 26px;
    background: #fff;
    width: 100%;
    top: 0px;
    position: fixed;
     z-index: 99;
}
.spacher-left {
    width: 26px;
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
     z-index: 99;
}
.spacher-right {
    width: 26px;
    background: #fff;
    height: 100%;
    right: 0;
    position: fixed;
     z-index: 99;
}
.spacher-bottom {
    height: 26px;
    background: #fff;
    width: 100%;
    bottom: 0;
    position: fixed;
     z-index: 99;
}
a,
a:focus {
    outline: none;
}
a img {
    outline: none;
}
img {
    border: none;
}
.our-work-logo ul:after,
.our-work-title:after,
.page:after,
#footer:after {
    clear: both;
    display: block;
    content: '';
}
.menu {
    z-index: 8;
}
/* menu  */

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
}
.menu a {
    color: white;
    font-family: 'Open Sans';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
}
.menu ul.sections {
    text-align: left;
}
.menu ul.sections li {
    margin-bottom: 1px;
}
.menu .container {
    position: relative;
    width: 100%;
    height: 100%;
}
.menu .container .navigationBG {
    background-color: #000;
    bottom: 95px;
    left: 70px;
    position: absolute;
    right: 125px;
    top: 50px;
}
.menu .container .navigation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.menu .container .navigation ul.sections li a {
    opacity: 1;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -ms-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.menu .container .navigation ul.sections li a.out {
    opacity: 0.3;
}
.menu .container .navigation ul.languages li {
    display: inline-block;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.menu .container .navigation ul.languages li::after {
    content: ' | ';
}
.menu .container .navigation ul.languages li:last-child::after {
    content: '';
}
.menu .container .navigation a {
    text-decoration: none;
    opacity: 1;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.menu .container .navigation a.out {
    opacity: 0.3;
}
.menu .container > div:nth-child(3) {
    text-align: center;
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.menu .navigation li .icon {
    background: url(../images/menu-icon.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 10px;
}
.menu .navigation li .icon.home-icon {
    background-position: 0 0
}
.menu ul.sections li:hover .home-icon,
.menu ul.sections li.active .home-icon {
    background-position: -44px 0
}
.menu .navigation li .icon.service {
    background-position: 0 -40px
}
.menu ul.sections li:hover .service,
.menu ul.sections li.active .service {
    background-position: -44px -40px
}
.menu .navigation li .icon.about-icon {
    background-position: 0 -80px
}
.menu ul.sections li:hover .about-icon,
.menu ul.sections li.active .about-icon {
    background-position: -44px -80px
}
.menu .navigation li .icon.work-icon {
    background-position: 0 -120px
}
.menu ul.sections li:hover .work-icon,
.menu ul.sections li.active .work-icon {
    background-position: -44px -120px
}
.menu .navigation li .icon.media-icon {
    background-position: 0 -161px
}
.menu ul.sections li:hover .media-icon,
.menu ul.sections li.active .media-icon {
    background-position: -44px -161px
}
.menu .navigation li .icon.careers-icon {
    background-position: 0 -200px
}
.menu ul.sections li:hover .careers-icon,
.menu ul.sections li.active .careers-icon {
    background-position: -44px -200px
}
.menu .navigation li .icon.contact-icon {
    background-position: 0 -240px
}
.menu ul.sections li:hover .contact-icon,
.menu ul.sections li.active .contact-icon {
    background-position: -44px -240px
}
.menu .navigation li .icon.login-icon {
    background-position: 0 -279px
}
.menu ul.sections li:hover .login-icon,
.menu ul.sections li.active .login-icon {
    background-position: -44px -279px
}
/* Menu Hover */

.menu .navigation ul.sections li a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 8px 45px 7px 40px;
}
.menu .navigation ul.sections li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.menu .navigation ul.sections li:hover a:before,
.menu .navigation ul.sections li:focus a:before,
.menu .navigation ul.sections li:active a:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.menu .navigation ul.sections li.active a .menu .navigation ul.sections li:hover a,
.menu .navigation ul.sections li.active a {
    color: #000;
    background: #2098d1;
}
/***********************/

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
    opacity: .5;
}
.hero-image {
    display: inline-block;
     height: 100%; 
    width: 100%;
    position: fixed;
}
/* New css */

.bgOverlay {
    background: #000;
    border: 26px solid #ffffff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}
.opacity-1 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.opacity-2 {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.opacity-3 {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.opacity-4 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.opacity-5 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.opacity-6 {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.opacity-7 {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.opacity-8 {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.opacity-9 {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#header {
    position: relative;
}
.head-right {
    position: absolute;
    right: 30px;
    text-align: right;
    top: 24px;
}
footer#footer {
    background-color: #ffffff;
    border-left: 26px solid #ffffff;
    border-right: 26px solid #ffffff;
    bottom: 25px;
    height: 45px;
    left: 0;
    line-height: 36px;
    padding: 7px 0 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
}
.logo {
    margin-top: 109px;
}
body .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-129%) translateY(0%);
    -webkit-transform: translateX(-129%) translateY(0%);
    transform: translateX(-129%) translateY(0%);
}
html,
body {
    height: 100%;
}
.pageTitle-leftSide {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-78%) translateY(-15%);
    -webkit-transform: translateX(-78%) translateY(-15%);
    transform: translateX(-78%) translateY(-15%);
}
.description-rightSide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36%;
    -moz-transform: translateX(10%) translateY(-50%);
    -webkit-transform: translateX(10%) translateY(-50%);
    transform: translateX(10%) translateY(-50%);
}
.videoButtons {
    font-size: 12px;
    float: right;
    margin-right: 65px;
    margin-top: 14px;
    text-align: right;
    text-transform: uppercase;
}
.videoButtons > span {
    color: #c7c8ca;
    margin-left: 7px;
}
.videoButtons .buttons > span {
    color: #000;
    cursor: pointer;
}
.videoButtons span.onBtn {
    margin-right: 5px;
    padding-right: 10px;
    position: relative;
}
.videoButtons .onBtn::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 14px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 2px;
}
.videoButtons .offBtn.active {
    color: #009ddc;
}
.videoButtons span.onBtn.active {
    color: #009ddc;
}
.toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    float: right;
    z-index: 9;
}
.toggle > div {
    height: 1.65em;
    width: 30px;
}
.toggle > div > div {
    width: 100%;
    height: 6px;
    margin: 0 0 .43em 0;
    background-color: #ffffff;
    transition-duration: .3s;
    transition-delay: 0s, 0s, 0s, 0s;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.toggle > div > div:nth-child(3) {
    width: 100%;
    float: right;
}
.toggle:hover > div > div:nth-child(3) {
    width: 100%;
}
.toggle.open > div > div:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}
.toggle.open > div > div:nth-child(2) {
    opacity: 0;
}
.toggle.open > div > div:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}
.toggle.open > div > div {
    background-color: #009DDC;
}
.toggle.dark > div > div {
    background-color: #15181C;
}
.toggle.ligth > div > div {
    background-color: #ffffff;
}
.toggle {
    background-color: #000000;
    padding: 9px 12px 1px;
}
.HeroImage {
    position: fixed;
    z-index: -100;
}
.pageTitle {
    background: rgba(0, 157, 220, 0.8) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    height: 140px;
    line-height: 140px;
    padding: 0px;
    max-width: 600px;
}
.description h4 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
}
.description div.lead {
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    padding-right: 8%;
    font-weight: 600;
}
.description .lead p {
    margin: 20px 0;
}
/************ TITLE *****************/

.title-type1 {
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: 800;
}
/*********** footer ***********/

#footer {
    font-size: 12px;
}
#footer .footer-part1,
#footer .footer-part2,
#footer .footer-part3 {
    padding: 0px;
}
.footer-part1 {
    text-align: left;
}
.footer-part3 {
    text-align: right;
}
.link-type li {
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
}
.link-type li.seprater {
    padding: 0 14px;
    color: #009ddc;
}
#footer a {
    color: #009ddc;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
.news-icon {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}
.hend-icon {
    display: inline-block;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 15px;
}
.email-text,
.socicon-bar,
.footer-right .socicon-bar,
.footer-right .email-text {
    display: inline-block;
    vertical-align: top;
}
.socicon-bar li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 0;
}
#footer .footer-part1 {
    width: 29%;
}
#footer .footer-part3 {
    float: right;
    width: 18%;
}
.footer-part2 {
    float: left;
    width: 53%
}
summary,
#footer summary a,
#footer .privacy a {
    color: #858585;
    font-weight: 500;
}
#footer .footer-part3 {
    line-height: 44px;
}
/******** SEARCH ************/

.form-search input {
    border: none;
    width: 93.9%;
    background: none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px solid #063e56;
    line-height: 46px;
    text-align: center;
    margin-left: 60px;
    font-size: 30px;
    margin-right: 45px;
    color: #0f9bd7;
     font-weight: 900;
}
.form-search ::-webkit-input-placeholder {
   color: #0f9bd7;
   font-weight: 900;
   font-size: 30px;
    text-align: center;
}

.form-search :-moz-placeholder { /* Firefox 18- */
  color: #0f9bd7;
   font-weight: 900;
   font-size: 30px;
    text-align: center;
}

.form-search ::-moz-placeholder {  /* Firefox 19+ */
   color: #0f9bd7;
   font-weight: 900;
   font-size: 30px;
    text-align: center;
}

.form-search :-ms-input-placeholder {  
   color: #0f9bd7;
   font-weight: 900; 
   font-size: 30px;
    text-align: center;
}
.search-button {
    background: url(../images/search-icon.png) no-repeat;
    width: 27px;
    height: 27px;
    border: none;
    text-indent: -9999em;
    position: absolute;
    left: 18px;
    top: 22px;
    outline: none;
}
.popup-logo {
    position: absolute;
    right: 70px;
    bottom: 70px;
    opacity: 0.6;
}
.popup-logo img {
    width: 170px;
}
/*********** ABOUT *************/

.accolades-list {
    color: #fff;
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
}
.accolades-list span {
    float: left;
    margin-right: 50px;
    margin-left: 40px;
}
.accolades-list ul {
    float: left;
    list-style-type: disc;
}
.accolades-list ul li {
    margin-bottom: 5px;
}
.description div.lead i {
    color: #0BA1DD;
    font-style: italic;
}
body.page-about .videoButtons .buttons > span {
    color: #FFF;
}
body.page-about .videoButtons .onBtn::after {
    background: #FFFFFF none repeat scroll 0 0;
}
body.page-about .videoButtons .onBtn.active,
body.page-about .videoButtons .offBtn.active {
    color: #009ddc;
}
/*********** Login ************/

body.page-login .description-rightSide {
    width: 39%;
}
/* Services **/

.services_list {
    width: 67%;
    padding: 20px;
}
.services_list ul {
    list-style-type: disc;
}
.services_list li {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0;
}
body.page-login .linkButton {
    display: inline-block;
    margin-bottom: 12px;
}
/* Career **/

.linkButton {
    background-color: #000;
    color: #009ddc;
    font-size: 34px;
    font-weight: 800;
    height: 58px;
    line-height: 57px;
    padding: 0 16px;
}
.linkButton:hover {
    text-decoration: none;
    color: #000;
}
.page.in-view-active .linkButton {
    transition-delay: 0.5s;
    transition: all 0.5s;
}
.careerCenterBtn {
    background-color: #000;
    color: #009ddc;
    margin-left: 5px;
    height: 57px;
    float: left;
    padding: 0 14px;
    color: #fff;
}
.careerCenterBtn:hover {
    color: #fff;
}
.careerCenterBtn strong {
    font-weight: 800;
    color: #009ddc;
}
.careerCenterBtn > img {
    margin-bottom: -6px;
    padding-top: 9px;
}
body.page-career .description-rightSide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34%;
    -moz-transform: translateX(10%) translateY(-38%);
    -webkit-transform: translateX(10%) translateY(-38%);
    transform: translateX(10%) translateY(-38%);
}
#footer .socicon-bar {
    padding-right: 15px;
}
.footer-part2-responsive {
    display: none;
}
.linkButton.open {
    background-color: #009DDC;
    color: #000000;
}
/********** Contact Us ********************/

address {
    margin-bottom: 70px;
}
address h5 {
    color: #000;
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 25px;
}
address .address {
    margin-bottom: 40px;
    font-size: 26px;
    line-height: 31px;
    color: #000;
    font-weight: 900;
}
address .email a,
address .phone a {
    font-size: 26px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
    font-weight: 900;
    word-break: break-word;
}
.contact-form {
    padding: 70px 60px;
}
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    border: 0px;
    height: 55px;
    padding: 10px;
    color: #cacaca;
    font-size: 32px;
    font-weight: bold;
    outline: none;
    text-align: left;
}
.toggle1.open,
.tab1.open,
.tab2.open,
.tab3.open {
    color: #000;
    background: #009ddc;
}
.required {
    font-size: 12px;
    color: #8d8d8d;
    font-weight: 800;
}
.contact-form textarea {
    height: 200px;
    resize: none;
}
.group-row {
    margin-bottom: 10px;
    text-align: left;
}
.contact-form h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 30px;
}
.contact-form ::-webkit-input-placeholder {
    font-weight: bold;
    color: #cacaca;
}
.contact-form ::-moz-placeholder {
    font-weight: bold;
    color: #cacaca;
}
/* firefox 19+ */

.contact-form :-ms-input-placeholder {
    font-weight: bold;
    color: #cacaca;
}
/* ie */

.contact-form input:-moz-placeholder {
    font-weight: bold;
    color: #cacaca;
}
.contact-form button {
    background: #0f9bd7 none repeat scroll 0 0;
    border: 0 none;
    color: #000000;
    font-size: 32px;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    transition: all 0.5s ease 0s;
    width: 276px;
}
.contact-form .required {
    margin-top: 0;
    display: block;
}
.contact-form button:hover {
    color: #0f9bd7;
}
.cancel-btn {
    background: url(../images/cancel-btn.jpg) no-repeat;
    width: 57px;
    height: 51px;
    position: absolute;
    right: -62px;
    cursor: pointer;
    top: 0px;
    display: inline;
}
.contact {
    display: none;
        z-index: 9;
    background-color: #000;
    bottom: 95px;
    width: 49%;
    left: 70px;
    position: absolute;
    right: 125px;
    top: 50px;
}
/*********************************************************/

.our-work-logo li {
    float: left;
    margin: 0 18px;
}
.our-work-logo {
    margin-left: 15px;
    margin-top: 30px;
}
.our-work-logo p {
    font-weight: 600;
    color: #fff;
    margin-left: 25px;
}
.viewOpportunities {
    display: block;
}
.page-our-work .linkButton {
    display: inline-block;
    margin-bottom: 10px;
}
.tab-content1,
.tab-content2,
.tab-content3 {
    display: none;
    background-color: #000;
    bottom: 95px;
    width: 49%;
    left: 70px;
    position: absolute;
    right: 125px;
    top: 50px;
    padding: 40px 30px 40px 60px;
    z-index: 9;
}
.Scroll-content {
    color: #fff;
    height: 100%;
}
.media-center .tabContent .lead {
    font-size: 18px;
    font-weight: 600;
}
.media-center .tabContent .lead i {
    font-style: italic;
    color: #009ddc;
}
.media-news-icon {
    background: url(../images/news-r-icon.png);
    background-repeat: no-repeat;
    width: 27px;
    margin-right: 12px;
    height: 32px;
    display: inline-block;
    margin-bottom: -3px;
}
.our-work-title {
    border-bottom: 1px solid #063e56;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.our-work-title h4 {
    font-size: 34px;
    font-weight: 900;
    float: left;
    padding-top: 34px;
}
.our-work-title img {
    float: right;
}
.Scroll-content .locations {
    margin-bottom: 20px;
}
.Scroll-content .locations b {
    font-weight: 900;
    font-size: 18px;
}
.Scroll-content .actions {
    margin-bottom: 40px;
        clear: both;
}
.Scroll-content .gallery-icon {
    background: url(../images/gallery-icon.png);
    display: inline-block;
    width: 40px;
    height: 39px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 11px;
}
.Scroll-content .video-icon {
    background: url(../images/video-icon.png);
    display: inline-block;
    width: 38px;
    height: 33px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-top: 11px;
}
/***************************************/

.jamba-gallery,
.image-gallery-content {
    display: none;
}
.image-Slider {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    border: 26px solid #fff;
    right: 0;
    z-index: 9;
    overflow: hidden;
    left: 0;
}
.vs-slider1,
.vs-slider {
    position: relative;
    height: 100%;
}
.vs-section1,
.vs-section {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.vs-section-content {
    position: absolute;
    bottom: 70px;
    right: 30px;
}
.vs-section1 h2,
.vs-section h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    background: #000000;
    color: #009ddc;
    padding: 4px 15px;
}
.vs-section1 span,
.vs-section span {
    color: #757575;
    background: #000000;
    padding: 4px 25px;
    font-weight: 300;
    font-size: 19px;
    height: 51px;
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
}
.vs-vertical-nav a {
    width: 41px;
    height: 47px;
    text-indent: 100%;
}
.vs-vertical-nav .vs-prev1,
.vs-vertical-nav .vs-prev {
    position: absolute;
    left: 30px;
    top: 50%;
    background: url(../images/prev-arrow.png) no-repeat center center;
}
.vs-vertical-nav .vs-next1,
.vs-vertical-nav .vs-next {
    position: absolute;
    right: 30px;
    top: 50%;
    background: url(../images/next-arrow.png) no-repeat center center;
}
.jamba-gallery .cancel-btn,
.image-gallery-content .cancel-btn {
    z-index: 99;
    right: 60px;
    position: fixed;
    top: 50px;
}
.video-gallery-content {
    display: none;
}
.video-gallery-content .cancel-btn {
    z-index: 99;
    right: 60px;
    position: fixed;
    top: 50px;
}
.video-player {
    background: #999;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    border: 26px solid #fff;
    right: 0;
    z-index: 9;
    overflow: hidden;
    left: 0;
}
.on-off {
    background: url(../images/play-btn.png) no-repeat;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-indent: 999999em;
}
.on-off.active {
    display: none;
}
.page-our-work .videoButtons {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}
.page-our-work .videoButtons .buttons {
    display: table-cell;
    vertical-align: middle;
}
.video-title {
    position: absolute;
    bottom: 70px;
    right: 30px;
}
.video-title h2 {
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    background: #000000;
    color: #009ddc;
    padding: 4px 15px;
}
.smoll-linkButton {
    font-size: 12px !important;
    background: #009DDC;
    color: #000;
    height: 27px;
    line-height: 27px;
    font-weight: 600;
    text-transform: uppercase;
}
.Scroll-content .linkButton {
    color: #000;
    background: #009ddc;
}
.smoll-linkButton:focus {
    color: #fff;
}
/* Bounce To Right */

.linkButton {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}
.linkButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.contact-form .linkButton:before,
.smoll-linkButton:before {
    background: #000;
}
.linkButton:hover {
    color: #000;
}
.linkButton:focus {
    outline: none;
}
.linkButton:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.linkButton.smoll-linkButton:hover {
    color: #fff;
}
/******************** Media Center ****************************/

.nav-tabs {
    border-bottom: 0px;
    margin-bottom: 15px;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
}
.nav-tabs > li > a {
    border: 0px;
    border-radius: 0;
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-right: 25px;
    line-height: initial;
    padding: 8px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #009ddc;
    color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #009ddc;
    border: 0px;
    border-bottom-color: transparent;
}
.page-media-center .linkButton {
    margin-bottom: 10px;
}
#pressTab .linkButton,
#newsTab .linkButton,
#mediaTab .linkButton {
    margin-bottom: 0;
    font-size: 21px;
    height: inherit;
    line-height: initial;
    padding: 4px 10px;
}
.news-date {
    color: #afb1b4;
    font-weight: 100;
    font-size: 13px;
    display: block;
}
.news-date b {
    font-weight: 900;
    font-weight: 700;
}
.news-row {
    margin-bottom: 35px;
}
.media-center .smoll-linkButton {
    font-size: 12px !important;
    height: 27px!important;
    line-height: 27px!important;
    padding: 0 16px !important;
}
.contact-media-name {
    margin: 30px 0;
}
.contact-media-name,
.contact-media-no a,
.contact-media-email a {
    font-size: 26px;
    word-break: break-word;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
}
.newsContent {
    background-color: #000;
    display: none;
    bottom: 95px;
    width: 49%;
    left: 70px;
    position: absolute;
    right: 125px;
    top: 50px;
    padding: 40px 30px 40px 60px;
        z-index: 9;
}
.newsContent .lead {
    font-size: 18px;
    font-weight: 600;
}
.newsContent .lead p {
    margin-bottom: 15px;
}
.news-Leftbar {
    float: left;
    width: 90%;
}
.social-icon {
    float: right;
}
.social-icon li a {
    background: url(../images/social-icon.png) no-repeat;
    width: 44px;
    height: 44px;
    display: inline-block;
    text-indent: -99999em;
    overflow: hidden;
}
.social-icon li a.facebook-icon {
    background-position: 0 0
}
.social-icon li a.linkedin-icon {
    background-position: 0 -52px
}
.social-icon li a.twitter-icon {
    background-position: 0 -104px
}
.title-type3 {
    border-bottom: 1px solid #063e56;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.title-type3 h4 {
    font-size: 34px;
    font-weight: 900;
    float: left;
    padding-top: 34px;
}
/* 404 Page */

.page-404 .linkButton .anchor-icon {
    background: url(../images/anchor-icon.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 32px;
    display: inline-block;
    margin-bottom: -3px;
}
.page-404 .linkButton:hover .anchor-icon {
    background-position: -37px 0px;
}
/* Search Results */

.search-results .linkButton {
    margin-bottom: 0;
    font-size: 21px;
    height: inherit;
    line-height: initial;
    padding: 4px 10px;
}
.search-results .smoll-linkButton {
    font-size: 12px !important;
    height: 27px!important;
    line-height: 27px!important;
    padding: 0 16px !important;
}
.pageTitle-type2 {
    height: 170px;
    line-height: inherit;
}
.pageTitle-type2 span {
    font-size: 35px;
    color: #000;
    font-weight: 900;
    padding: 0 10px;
    margin-bottom: -13px;
    margin-top: 28px;
    display: block;
}
/* Page Transitions */

.cd-loading-bar {
    background-color: #009ddc;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    visibility: hidden;
    z-index: 9 !important;
    width: 100%
}
.page-is-changing .cd-loading-bar {
    background-color: #009ddc;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    visibility: inherit;
}
/* scrollTools */

.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
    /* direct pointer events to js */
}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
    -ms-touch-action: auto;
    touch-action: auto;
}
.mCustomScrollBox {
    /* contains plugin's markup */
    
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.mCSB_container {
    /* contains the original content */
    
    overflow: hidden;
    width: auto;
    height: auto;
}
.mCSB_inside > .mCSB_container {
    margin-right: 30px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}
/* non-visible scrollbar */

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
    /* RTL direction/left-side scrollbar */
    
    margin-right: 0;
    margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
}
/* RTL direction/left-side scrollbar */

.mCSB_scrollTools {
    /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
    
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools {
    right: -26px;
}
/* scrollbar position: outside */

.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    /* RTL direction/left-side scrollbar */
    
    right: auto;
    left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
    left: -26px;
}
/* RTL direction/left-side scrollbar (scrollbar position: outside) */

.mCSB_scrollTools .mCSB_draggerContainer {
    /* contains the draggable element and dragger rail markup */
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    height: 100%;
}
.mCSB_scrollTools .mCSB_dragger {
    /* the draggable element */
    
    cursor: pointer;
    width: 100%;
    height: 30px;
    /* minimum dragger height */
    
    z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /* the dragger element */
    
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
    bottom: 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #009ddc;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #009ddc;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
    width: 12px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}
.mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
    margin: 0;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 6px;
    margin: 5px 3px;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 12px;
    margin: 2px 0;
}
.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail {
    background: #333333;
}
.responsive-content {
    display: none !important;
}
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    .contact-form input[type='text'] {
        line-height: 0px;
    }
    .linkButton {
        line-height: inherit;
    }
}
.tab-content{
        height: 300px;
        display: table;
}
.tab-content > .active {
    display: block;
    display: table-cell;
    vertical-align: middle;
}
.locations-logo{
    display: none;
}