/**
 * import
 * --------------------------------------------------
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700");


/**
 * site loader
 * --------------------------------------------------
 */

/**
 * Core
 * --------------------------------------------------
 */
 
.velocity-animating {
  -webkit-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}

@media (max-width: 767px) {
  .animated {
    -webkit-animation: none;
         -o-animation: none;
            animation: none;
  }
}
 
.site-loader._multi-circle-line {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  background-color: black;
}

/**
 * Logo
 * --------------------------------------------------
 */

.site-loader._multi-circle-line img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 210px;
    height: 110px;
    margin-top: -60px;
    margin-left: -105px;
}

/**
 * Lines
 * --------------------------------------------------
 */

.site-loader._multi-circle-line .site-loader-spinner {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-animation: spin 1.5s infinite linear;
       -o-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 300px;
  height: 300px;
  margin-top: -150px;
  margin-left: -150px;
  border: 3px solid transparent;
  border-top-color: #009ddc;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.site-loader._multi-circle-line .site-loader-spinner:before,
.site-loader._multi-circle-line .site-loader-spinner:after {
  position: absolute;
  content: "";
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.site-loader._multi-circle-line .site-loader-spinner:before {
  -webkit-animation: spin 2s infinite linear;
       -o-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 3px solid transparent;
  border-top-color: #009ddc;
}

.site-loader._multi-circle-line .site-loader-spinner:after {
  -webkit-animation: spin 1.5s infinite linear;
       -o-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  border: 3px solid transparent;
  border-top-color: #009ddc;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0);
       transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
         -o-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.is-loaded .site-loader._multi-circle-line {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  visibility: hidden;
}